<%- include('header') %> 
<div class="box" id="heading">
    <h1><%= head %></h1>
</div>
<div class="box">
    <% for(var i=0; i<newItems.length; i++ ){ %>
        <div class="item">
            <input type="checkbox">
            <p><%= newItems[i] %> </p>
        </div>
        <% } %>
        <form action="/" method="post" class="item">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value="<%= head %>">+</button>
        </form>
</div>
<%- include('footer') %>